---
layout: one_column
---
<h1>Series: {{ page.series }}</h1>
<h2>{{ page.title }}</h2>
<p><span class="message-date">{{ page.date }}</span></p> 
<div>
    {% if page.video contains 'mp4' %}
    <video width="700" height="400" controls poster="{{ page.video-image }}">
        <source src="{{ page.video }}" type="video/mp4">
    </video>
    {% else %}
    <p><b>Video not found.</b></p>
    {% endif %}
    <p>{{ page.description }}</p>
</div>
<div>
    {% if page.audio contains 'mp3' %}
    <audio controls>
        <source src="{{ page.audio }}" type="audio/mpeg">
    </audio> 
    {% else %}
    <p><b>Audio not found.</b></p>
    {% endif %}
</div>
  
{% if page.audio contains 'mp3' %}
<a href="{{ page.audio }}">Download Audio (mp3)</a><br>
{% endif %}
{% if page.video contains 'mp4' %}
<a href="{{ page.video }}">Download Video (mp4)</a><br>
{% endif %}
{% if page.program contains 'pdf' %}
<a href="{{ page.program }}">View Program (pdf)</a><br>
{% endif %}
<a href="#">Share</a>
