---
layout: right_column
---
<h2>{{ page.title }}</h2>
<a href="#disqus_thread">0 Comments</a>
	<span class="category_title">
		<em>
			<a href="/tags/{{tag}}" class="category-link">{{ page.category }}</a>
		</em>
	</span>
	<span class="greater_than"> &#62;</span>
	<span class="posted_by_label">Posted by</span>
	<a class="author_link">Author</a>
	<span> on </span>
	<span class="meta">{{ page.date | date_to_string | date: "%B %d, %Y" }}</span>

<div class="post">
{{ content }}
</div>

{% include blog_comments.html %}
