---
layout: container_row
---
<div class="col-sm-8">
  {{ content }}
</div>
<div class="col-sm-4">
	<h3>Blog Tags</h3>
	<ul class="list-group">
		<li class="list-group-item" ><a href="/tags/the-daily">The Daily</a></li>
		<li class="list-group-item" ><a href="/tags/india">India</a></li>
		<li class="list-group-item" ><a href="/tags/crossroadsnet">Crossroads</a></li>
		<li class="list-group-item" ><a href="/tags/fields-of-gold">Fields of Gold</a></li>
		<li class="list-group-item" ><a href="/tags/game-change">Game Change</a></li>
		<li class="list-group-item" ><a href="/tags/crux">Crux</a></li>
		<li class="list-group-item" ><a href="/tags/go-nola">Go Nola</a></li>
		<li class="list-group-item" ><a href="/tags/discipleship">Discipleship</a></li>
		<li class="list-group-item" ><a href="/tags/citylink">CityLink</a></li>
		<li class="list-group-item" ><a href="/tags/multi-site">Multi-site</a></li>
		<li class="list-group-item" ><a href="/tags/south-africa">South Africa</a></li>
	</ul>
	<hr>
	<h3>Adbox Space</h3>
</div>
