---
layout: one_column
title: My Profile
published: true
permalink: /myprofile/
categories:
---

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>My Profile <small>Hello, special you. </small></h2>

  
    <div class="profile-header">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <a href="#" class="profile-pic">
            <img class="profile-image pull-left img-square img-responsive" src="/img/avatar.svg" alt="Profile Default Photo" />
            <span class="change-photo">Change Photo</span>
          </a>
        </div>
        <div class="profile-desc col-xs-7 col-sm-9">
          <h3 class="profile-name">Test User</h3>
          <p class="lead"><a href="#household" data-toggle="tab" class="edit-church-site">Church Site <span class="glyphicon glyphicon-pencil"></span></a></p>
          <div class="col-sm-6 row">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="profile-body col-sm-12 row">
      <tabset>
        <tab heading="Personal">{% include mock-ups/profile_personal.html %}</tab>
        <tab heading="Household">{% include mock-ups/profile_household.html %}</tab>
        <tab heading="Skills">Skills</tab>
        <tab heading="Account">{% include mock-ups/profile_account.html %}</tab>
        <tab heading="History">History</tab>
      </tabset>
    </div>
  </div>
</div>