.bundle
.DS_Store
.env
.idea
.project
.ruby-version
.sass-cache/

/.tmp/
/app/css/sprites.scss
/app/icons/generated/
/app/icons/preview-svg.html
/config/_config.local.yml
/generated/
/node_modules/*
/vendor/plangular/site/

