.right_column_header {
	color: $cr-blue;
}

.ad {
	@extend .panel;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 0px;
	position: relative;
	min-height: 200px;
  background: -webkit-linear-gradient(#fff, $gray-lighter); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, $gray-lighter); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, $gray-lighter); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, $gray-lighter); /* Standard syntax (must be last) */
}

.ad__label {
	background-color: lighten($gray-light,15);
	font-family: $brand-font-family;
	text-transform: uppercase;
	color: #ffffff;
	padding: 4px 10px;
	margin-top: -35px;
	font-size: 18px;
	position: absolute;
	font-weight: normal;
}

.ad__headline {
	font-family: $brand-font-family;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: -1.8px;
	line-height: 0.9;
	margin: 0 auto 15px;
}

.ad__heading--secondary {
	color: $brand-secondary;
}

.ad__heading--primary {
	color: $brand-primary;
}

.ad__heading--lowercase {
	text-transform: lowercase;
}

.divider--dark {
	margin-bottom: 10px;
	border: $cr-grey;
	border-width: 1px;
}

.series--container {
	margin-bottom: 25px;
}

.carousel-indicators {
	display: none;
}

.carousel-inner {
	.item {
		width: 100%;
		border: none;
		padding: 0;
	}
	img.img-responsive {
		display: inline-block;
		width: 48%;
		max-width: 190px;
		height: auto;
		float: left;
		margin-left: 4%;
		&:first-child {
			margin-left: 0;
		}
	}
}

.ad__subheadline {
	color: $cr-blue;
	margin: 10px 0 5px 0;
	font-size: 14px;
}

.ad__select {
	margin-bottom: 15px;
}

.ad__content {
	width: 55%;
	line-height: 1.4;
}

.ad__content--wide {
	width: 70%;
	line-height: 1.4;
}

.ad__image{
	position: absolute;
	bottom: 0;
	right: 0;
}

.ad__image--centered{
	position: absolute;
	right: 5px;
	top: 25%;
}

.ad__btn {
	padding: 0px 20px;
	font-family: $brand-font-family;
	text-transform: uppercase;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin-bottom: 10px;
	margin-top: 0px;
}

// @media only screen and (max-width: 767px)
// 	.ad__content {
// 		width: 55%;
// 		line-height: 1.4;
// 	}
//
// 	.ad__content--wide {
// 		width: 70%;
// 		line-height: 1.4;
// 	}
