@import 'variable-overrides';
@import '../../vendor/bower/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'overrides';
@import 'blog';
@import 'brandbar';
@import 'media';
@import 'gradient';
@import 'nav';
@import 'icon';
@import 'thefeed';
@import 'explore';

// @import 'block-grid';

body {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: $font-family-sans-serif;
  font-size: 13px;
  line-height: 22px;
}
a:hover {
  text-decoration:none;
}
.brand-font {
  font-family: $brand-font-family;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1.8px;
  }

.navbar{
	z-index: 100;
}

.logo {
	font-size: 25px;
	font-weight: 100;
	margin-top: -2px;
}

.logo img {
	max-width: 140px;
	margin-top: -6px;
}

footer {
	background-color: $gray-lighter;
	padding: 25px 0;
  margin-top: 40px;
  padding-bottom: 200px;
  color: $cr-grey;
}
footer h5 {
  margin-top: 0;
}

footer .open, footer .office {
  border-left: 1px solid #878785;
}


.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.posts li {list-style:none;}

.home {
  margin-top: 40px;
  margin-bottom: 60px;
}
.home .home-header {
  color: $cr-blue;
}
.home .tagline {
  margin-bottom: 20px;
  margin-top: 10px;
}
.home .tagline small {
  font-weight: 300;
}

.home .coffee-cup {
  max-width: 300px;
}


/***************************************************************************************
* Dashboard Elements - used on /dashboard.html
***************************************************************************************/
.status-block {padding: 30px 0; color:$gray-lighter;}
.status-blocks h2 {font-size: $font-size-h2+30px;}
.documents, .documents ul {list-style: none;}
#myTabDrop1 {margin-top: 17px;}


/* RIGHT SIDE BAR */
#rt_block_wrapper {
    float: right;
    margin-top: 25px;
    width: 302px;
}
.rt_block {
    background: url("/img/bg_rt_grad1.png") repeat-x scroll center top #F6F7F7;
    border: 1px solid #CFCDCD;
    font-family: Arial;
    overflow: visible;
    padding: 0 15px 10px;
    position: relative;
    width: 270px;
    z-index: 2;
}

.rt_block_spacer {
    margin-bottom: 1em;
}
