@import 'variable-overrides';
@import '../../vendor/bower/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'overrides';
@import 'blog';
@import 'brandbar';
@import 'media';
@import 'gradient';
@import 'nav';
@import 'thefeed';
@import 'explore';
@import 'profile';
@import 'timeline';
@import 'sprites';
@import 'icon';
@import 'billboard';
@import 'utilities';
@import 'iframe';
// @import 'block-grid';

body {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a:hover {
  text-decoration:none;
}
.subheading {
  font-weight: 400;
  color: #777;
  margin-top: -11px;
}
h1.subheading {
  font-size: $font-size-h1*$subheading-ratio;
}
h2.subheading {
  font-size: $font-size-h2*$subheading-ratio
}
h3.subheading {
  font-size: $font-size-h3*$subheading-ratio
}
h4.subheading {
  font-size: $font-size-h4*$subheading-ratio
}
h5.subheading {
  font-size: $font-size-h5*$subheading-ratio
}
h6.subheading {
  font-size: $font-size-h6*$subheading-ratio
}

.brand-font {
  font-family: $brand-font-family;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1.8px;
  }

.right_column_header {
  color: $cr-blue;
  font-size: 18px;
}

.type-color--secondary {
  color: $brand-secondary;
}

.type-color{
  color: $brand-primary;
}

.type-color--grey{
  color: $cr-grey;
}

.divider--dark {
  margin-bottom: 10px;
  border: $cr-grey;
  border-width: 1px;
}

.navbar{
	z-index: 100;
}

.logo {
	font-size: 25px;
	font-weight: 100;
	margin-top: -2px;
}

.logo img {
	max-width: 140px;
	margin-top: -6px;
}

footer {
	background-color: $gray-lighter;
	padding: 25px 0;
  margin-top: 40px;
  padding-bottom: 200px;
  color: $cr-grey;
}
footer h5 {
  margin-top: 0;
}

footer .open, footer .office {
  border-left: 1px solid #878785;
}

.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.posts li {list-style:none;}

.home {
  margin-top: 40px;
  margin-bottom: 60px;
}
.home .home-header {
  color: $cr-blue;
}
.home .tagline {
  margin-bottom: 20px;
  margin-top: 10px;
}
.home .tagline small {
  font-weight: 300;
}

.home .coffee-cup {
  max-width: 300px;
}

.link--orange {
  color: $cr-orange;
  font-weight: 400;
  &:hover {
    color: $cr-dkblue;
  }
}


/***************************************************************************************
* Dashboard Elements - used on /dashboard.html
***************************************************************************************/

.status-block {padding: 30px 0; color:$gray-lighter;}
.status-blocks h2 {font-size: $font-size-h2+30px;}
.documents, .documents ul {list-style: none;}
#myTabDrop1 {margin-top: 17px;}


/* RIGHT SIDE BAR */
#rt_block_wrapper {
    float: right;
    margin-top: 25px;
    width: 302px;
}
.rt_block {
    background: url("/img/bg_rt_grad1.png") repeat-x scroll center top #F6F7F7;
    border: 1px solid #CFCDCD;
    font-family: Arial;
    overflow: visible;
    padding: 0 15px 10px;
    position: relative;
    width: 270px;
    z-index: 2;
}

.rt_block_spacer {
    margin-bottom: 1em;
}

/***************************************************************************************
* GROWL NOTIFICATIONS
***************************************************************************************/
.crossroads-growl {
  .growl-container {
    top: 15px !important;
    z-index: 100100;

    >.growl-item {
      @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    }
  }
}

/***************************************************************************************
* Helpers
***************************************************************************************/
.block {
  display: block;
}

// Empty href attributes for UI Bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/***************************************************************************************
* Modals
***************************************************************************************/
.modal-content {
  border-radius: 0px;
  border: 0px;
}

/***************************************************************************************
* Forms
***************************************************************************************/
.input-group-addon {
  label {
    margin-bottom: 0px;
  }
}

.form-control {
  &:focus {
    border-color: $brand-primary;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(59, 110, 143, 0.2));
  }
}

.btn {
  text-transform: uppercase;
  font-family: $brand-font-family;
  font-size: 16px;
  padding: 3px 8px;
  font-weight: normal;

  .icon {
    fill: #fff;
  }
}

/***************************************************************************************
* Tabs
***************************************************************************************/
.nav-tabs > li > a > tab-heading > span {
  line-height: 1.625;
  display: block;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

/***************************************************************************************
* Date Picker
***************************************************************************************/
.dropdown-menu.ng-valid-date {
  thead {
    th {
      .btn-default {
        // @extend .btn-primary;
        background: $gray-lighter;
        color: $gray-darker;
        border: 1px solid darken($gray-lighter, 20%);
      }
    }
  }

  .btn-default {
    background: white;
    border: none;
    color: $gray-darker;

    &:hover {
      background: $gray-lighter;
    }

    &:hover {
      .text-info {
        color: $gray-darker;
      }
    }
  }

  .btn-info, .btn-danger, .btn-success {
    @extend .btn-primary;
  }

  .active {
    .text-info {
      color: #fff;
    }
  }

  .btn-info, .btn-danger, .btn-success {
    @extend .btn-primary;
  }

  .active {
    .text-info {
      color: #fff;
    }
  }
}

/***************************************************************************************
* Badges
***************************************************************************************/
.filetype-badge {
  border-radius: 3px;
  margin-left: 5px;
}