
.series-list {
	list-style: none;
	padding: 0;
}
.series-list li img {width: 100%;}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { 
	.series-list li{
		width: 50%;
		float: left;
		margin-bottom: 30px;
		display: block;
	}
	.series-list li:nth-child(odd) {
		margin-right: 2%;
		clear: left;
	}
 }

.container-max {max-width: 1170px;}

.message-body {
  .nav-tabs {
    margin-top: $line-height-computed;
  }

  .tab-content {
    margin-top: $line-height-computed;
  }
}

.video-section {
  background: $gray-darker;
  text-align: center; 
  margin-bottom: $line-height-computed;

  iframe,video {
    margin: 0 auto;
  }
}

.audio-section {
  margin-bottom: $line-height-computed;
}

/***************************************************************************************
* Message Preview Include - used on _includes/media/message_preview.html
***************************************************************************************/
#video-player-box {
  background: #f8f3e5;
  padding: 10px 0 10px 10px;
  margin: 0 0 20px 0;
  position: relative;
}