
.media-list {
	list-style: none;
	padding: 0;

	li{
		margin-bottom: 15px;
		padding-top: 15px;
	}

	li img {
	width: 100%;
	}

	li:hover {
		background-color: #F8F8F8;
	}
}

.container-max {max-width: 1170px;}