// Profile Styling

// Profile (Header)

.profile-header {
  margin-bottom: 22px;
  margin-top: 22px;

  .profile-name {
    margin: 0px 0 ($line-height-computed/4);
  }

  .edit-church-site {
    padding-right: 20px;

    span {
      display: none;
      font-size: .6em;
      color: $gray;
    }

    &:hover {
      span {
        display: inline;
      }
    }
  }
}

.profile-pic {
  position: relative;
  display: block;
  overflow-y: hidden;
  background: $gray-lighter;

  img {
    @include opacity(.1); // temporary solution until we find a long term solution for icons
  }

  .change-photo {
    display: block;
    position: absolute;
    bottom: -35px;
    height: 30px;
    line-height: 30px;
    left: -1px;
    right: -1px;
    background: $brand-primary;
    text-align: center;
    color: white;
    @include transition(all .1s ease-in);
    @include opacity(.8);
  }

  &:hover {
    .change-photo {
      bottom: 0;
    }
  }
}

// Profile (Body)

.profile-body {
  .tab-pane {
    @extend .panel-body;
  }
}

// Profile (Household Tab)

.profile-card {
  .thumbnail {
    margin-bottom: 0px;

    img {
      max-width: 50px;
      @include opacity(.1); // temporary solution until we find a long term solution for icons
    }
  }
}

// Profile (Skills Tab)

.current-skills-list {
  a {
    padding-left: 10px;

    &:hover {
      color: #fff;


      .glyphicon {
        color: #fff;
        @include transition(all .2s ease-in);
      }
    }

    .glyphicon {
      color: $brand-info;
    }
  }
}