
.book-icon {
	width: 32px;
	height: 32px;
}

.calendar-icon {
	width: 32px;
	height: 32px;
}

.close-icon {
	width: 32px;
	height: 32px;
}

.folder-icon {
	width: 32px;
	height: 32px;
}

.folder-open-icon {
	width: 32px;
	height: 32px;
}

.gift-icon {
	width: 32px;
	height: 32px;
}

.home-icon {
	width: 32px;
	height: 32px;
}

.home2-icon {
	width: 32px;
	height: 32px;
}

.home3-icon {
	width: 32px;
	height: 32px;
}

.users-icon {
	width: 32px;
	height: 32px;
}