.full-width{
  width: 100%;
}

.push{
  margin: 10px;
}

.push--left{
  margin-left: 10px;
}

.push--right{
  margin-right: 10px;
}

.push--top{
  margin-top: 10px;
}

.push--bottom{
  margin-bottom: 10px;
}

.flush--left{
  margin-left: 0;
}

.flush--right{
  margin-right: 0;
}

.flush--top{
  margin-top: 0;
}

.flush--bottom{
  margin-bottom: 0;
}

.text-center{
  text-align: center;
}

.text-lowercase{
  text-transform: lowercase;
}
