---
layout: right_column
permalink: /prayerrequest/
published: true
---

<!-- Template: prayer-request.html -->

<h1 class="heading">
    Prayer Requests
</h1>
<h2 class="subheading"><small>We absolutely believe in the power of prayer.</small>
</h2>

<p>
    Please know that your prayer requests are confidential within our Prayer Team, and we are ready to hear you.
    If this is an urgent need, please call 513.731.7400 (during work hours) or 513.731.7400 x1333 (after hours) so we can find someone for you to talk to right away.
    Thank you for trusting us with your prayer request.
</p>

<br/>
<br/>

<div>
    <form crds-ajax-form="fields" crds-bootstrap-validation name="form" action="/form-mail" method="post" novalidate
          ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1500, 'blur': 0} }">

        <!-- Form Configuration -->
        <input type="hidden" name="crds-form-authorization-signature" value=""/>
        <input type="hidden" name="crds-form-to" value="2"/>
        <input type="hidden" name="crds-form-subject" value="Prayer Request">
        <input type="hidden" name="crds-form-reply-name" value="replyName"/>
        <input type="hidden" name="crds-form-reply-email" value="replyEmail"/>
        <input type="hidden" name="crds-form-require[request]" value="true"/>
        <input type="hidden" name="crds-form-require[replyName]" value="true"/>

        <div class="form-group">
            <label for="reply-name">Name</label>
            <input type="text" class="form-control" id="reply-name" name="replyName" ng-model="fields.replyName" required/>
            <span ng-show="form.replyName.$invalid && form.replyName.$dirty">
                Please provide a name
            </span>
        </div>
        <div class="form-group">
            <label for="reply-email">Email</label>
            <input type="text" class="form-control" id="reply-email" name="replyEmail" ng-model="fields.replyEmail" required ng-pattern="/.*@.*\..*/"/>
            <span ng-show="form.replyEmail.$invalid && form.replyEmail.$dirty">
                Please provide a valid email address
            </span>
        </div>
        <div class="form-group">
            <label for="request">Prayer Request</label>
            <textarea class="form-control" id="request" name="request" ng-model="fields.request" required></textarea>
            <span ng-show="form.request.$invalid && form.request.$dirty">
                Please provide a prayer request
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        <div crds-ajax-form-success>
            <strong>Your request has been submitted</strong>
        </div>
    </form>
</div>
