<!--      <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 center">
            <p>The contents of this website are ©&nbsp;2014
              <a href="http://crossroads.net/">Crossroads</a>
              under the terms of the
              <a href="https://github.com/crdschurch/crdschurch.github.io/blob/master/LICENSE">MIT&nbsp;License</a>.
            </p>
          </div>
          <div class="col-sm-4 center"></div>
          <div class="col-sm-4 center">
            Published & hosted on <a class="logo" href="https://github.com/"><img src="/media/GitHub_Logo.svg" alt="GitHub" /></a>
          </div>
        </div>
      </div> <!-- /container -->
    <!--  </footer> -->
    
    
    <footer>
    	<div class="container homeContainer">
    		<div class="row">
    			<div class="col-sm-12">
    				<div class="col-sm-6 footerdimnoborder">
    					<div class="imgChWorld">
            				<p class="noPspace">
            					<img width="90" height="90" alt="" src="/clientside/images/howtochangeworld_90x90.jpg">
            				</p>        
            			</div>
            			<h4>Current Series March 22&ndash;April 20: How to Change the World</h4>
						<div>Audacious? Sure is. Easy target for naysayers? Without question.</div>
						<div>But read the book of Acts and you’ll see world-changing, ripple-effect,</div>
						<div>obedience-stepping all over the place. Time to follow suit.</div>
						<div>&nbsp;</div>
						<div>(And...the beans are back.)</div>
						<p class="noPspace"><span style="line-height: 1.75;">&nbsp;</span></p>
						<p class="noPspace"><a href="/recentlymentioned">Recently Mentioned</a></p>        
					</div>
					<div class="col-sm-2 footerdim">
            			<h4>We’re Open.</h4>
						<p class="noPspace"><span style="line-height: 1.75;">3500 Madison Open</span></p>
						<p class="noPspace">Free coffee,&nbsp;<span style="line-height: 1.75;">free Wi-Fi, </span></p>
						<p class="noPspace"><span style="line-height: 1.75;">and plenty&nbsp;</span><span style="line-height: 1.75;">of couches.</span></p>
						<p class="noPspace"><a target="_blank" href="/oakley/">Come on Over.</a></p>        
					</div>
					<div class="col-sm-2 footerdim">
   				    	<h4>Our Office:</h4>
						<p class="noPspace">3500 Madison Road<br>Cincinnati, OH 45209<br>513.731.7400<br>[ <a target="_blank" href="/index.php?action=viewpage&amp;filepath=pages/my/about/serviceTimes.htm">Service Times &amp; Directions</a> ]<br><br><a href="/contact/">Contact Us</a> | <a href="/privacy.php">Privacy Policy</a></p>
					</div>
					<div class="col-sm-2" id="footer-contact">
            			<p class="noPspace">Submit a <a href="/my/care/prayerRequests.php">prayer request</a>.</p>
            			<div id="footer-social">
                			<a href="http://www.facebook.com/crdschurch" id="footer-facebook">&nbsp;</a>
                			<a href="http://twitter.com/crdschurch" id="footer-twitter">&nbsp;</a>
                			<a href="/my/contact.php" id="footer-email">&nbsp;</a>
            			</div>
            			<a style="position: absolute; top: 100px;" title="Church of Cincinnati" href="http://churchofcincinnati.org"><img alt="ChurchofCincinnati.org" src="/clientside/images/coc_logo.png"></a>
        			</div>
    			</div>
    		</div>
    	</div>
    </footer>
    
     

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
