<div id="rt_block_wrapper">
    <div class="rt_block">
        <h2 class="grow">Grow</h2>
        <img width="266" height="62" alt="Pic Grow1" src="/img/pic_grow1.png" class="banner">
        <h3 class="no_pad">Want to Grow? Try “The Daily.”</h3>
        <p class="pad noPspace">Engage with God through Bible reading and guided prayer  	(in just 15 minutes each day).</p>
        <a href="/my/grow/theDailySignup.php" title="Subscribe to The Daily via Email">Subscribe to The Daily</a></div>
    <!-- end rt_block --><div class="rt_block_spacer">&nbsp;</div><div class="rt_block">
        <h2 class="grow">Grow</h2>
        <img width="165" height="57" alt="Pic Cc" src="/img/pic_cc.png" class="banner">
        <h3 class="no_pad">Connect and grow.</h3>
        <p class="noPspace">Ongoing groups are open<br>to anyone, anytime.</p>
        <a href="/my/connect/communityGroups.php" title="Community Groups">Check out Community Groups</a> <img width="119" height="148" alt="Pic Grow2" src="/uploadedfiles/pic_grow2.gif" class="pic"></div>
    <!-- end rt_block --><div class="rt_block_spacer">&nbsp;</div>       
</div>