
.CRIcon-icon {
	width: NaNpx;
	height: NaNpx;
}

.abouticon-icon {
	width: NaNpx;
	height: NaNpx;
}

.admin-icon {
	width: NaNpx;
	height: NaNpx;
}

.dropdown_arrow-icon {
	width: NaNpx;
	height: NaNpx;
}

.engage-icon {
	width: NaNpx;
	height: NaNpx;
}

.give-icon {
	width: NaNpx;
	height: NaNpx;
}

.grow-icon {
	width: NaNpx;
	height: NaNpx;
}

.media-icon {
	width: NaNpx;
	height: NaNpx;
}

.question-icon {
	width: NaNpx;
	height: NaNpx;
}

.search-icon {
	width: NaNpx;
	height: NaNpx;
}

.user-icon {
	width: NaNpx;
	height: NaNpx;
}

.user_filled-icon {
	width: NaNpx;
	height: NaNpx;
}

.user_hover-icon {
	width: NaNpx;
	height: NaNpx;
}
