{% case include.list_type %}
{% when 'series' %}
  {% assign sorted = site.series | sort:'date','first' %}
  {% assign srcField = 'src' %}
{% when 'music' %}
  {% assign sorted = site.music | sort:'date','first' %}
{% assign srcField = 'src' %}
{% when 'media' %}
  {% assign sorted = site.media | sort:'date','first' %}
  {% assign srcField = 'video-poster' %}
{% endcase %}

<div class="row">
<ul class="media-list"> 


{% for item in sorted reversed %}{% if include.list_limit == 0 or forloop.index <= include.list_limit %}
    <li class="col-sm-2 col-xs-6">
      <a href="{{ item.url }}">
        <img src="{{ item[srcField] }}" class="img-responsive" />
        <h4>{{ item.title }}</h4>
        <p class="text-muted">{{ item.date | date: "%m.%d.%Y" }}</p>
        </a>
    </li> 
    {% if forloop.index == 6 %}
    <div class="clearfix visible-sm visible-md visible-lg"></div>
    {% elsif forloop.index == 2 %}
    <div class="clearfix visible-xs"></div>
    {% endif %}
    {% endif %}{% endfor %}
  </ul>
</div>
{% if include.list_limit != 0 %}
<div class="row">
  <a href="{{ include.view_all_link | downcase }}" class="btn btn-default pull-right">View All {{ include.view_all_link }}</a>
</div>
{% endif %}