<div class="history-timeline row">
  <ul class="timeline">
    <li>
      <div class="timeline-badge default"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Made decision to use <a href="http://www.thinkministry.com/pages/ministryplatform-church-management-system">Ministry Platform</a> system</h5>
          <p class="text-muted">11/8/2013</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><span class="glyphicon glyphicon-gift"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Project Kick Off</h5>
          <p class="text-muted">11/21/2013</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><span class="glyphicon glyphicon-user"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Phase 1 (CMS & Front End) Begins</h5>
          <p class="text-muted">1/6/2014</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge primary"><span class="glyphicon glyphicon-remove"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title"> Deployed lab.crossroads.net</h5>
          <p class="text-muted">2/1/2014</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><span class="glyphicon glyphicon-ok"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Think Ministry On-site Demo</h5>
          <p class="text-muted">2/28/2014</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Architecture Defined</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Contract signed with Think Ministry</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Phase 2 (Ministry Platform) Begins</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Phase 3 (MP Integration and Extension) Begins</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">All Development Complete</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">Launch Phase Begins</h5>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><span class="glyphicon glyphicon-calendar"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h5 class="timeline-title">System Deployed to Production</h5>
        </div>
      </div>
    </li>
  </ul>
</div>