<form role="form">

  <fieldset class="row">
    <legend class="col-sm-12">Your Selected Skills</legend>
    <ul class="col-sm-12 current-skills-list list-inline">
      <li><a class="label label-info">Software Developer <span class="glyphicon glyphicon-trash"></span></a></li>
      <li><a class="label label-info">Web Design <span class="glyphicon glyphicon-trash"></span></a></li>
      <li><a class="label label-info">Web Development <span class="glyphicon glyphicon-trash"></span></a></li>
      <li><a class="label label-info">Photoshop wizard <span class="glyphicon glyphicon-trash"></span></a></li>
      <li><a class="label label-info">Administrative <span class="glyphicon glyphicon-trash"></span></a></li>
    </ul>
  </fieldset>

  <fieldset class="row">
    <div class="col-sm-12">

    </div>
  </fieldset>

  <button class="btn btn-primary ladda-button" data-style="expand-left"><span class="ladda-label">Save</span></button>

</form>