<fieldset class="row">
  <legend class="col-sm-12">Your Household</legend>
  <div class="col-md-4 profile-card">
    <div class="well well-sm">
      <div class="media">
        <a class="thumbnail pull-left" href="#">
          <img class="media-object" src="/img/avatar.svg" alt="Profile Default Photo" />
        </a>
        <div class="media-body">
          <h4 class="media-heading">Jane Doe</h4>
        <p><span class="label label-info">Spouse</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 profile-card">
    <div class="well well-sm">
      <div class="media">
        <a class="thumbnail pull-left" href="#">
          <img class="media-object" src="/img/avatar.svg" alt="Profile Default Photo" />
        </a>
        <div class="media-body">
          <h4 class="media-heading">John Doe</h4>
        <p><span class="label label-info">Son</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 profile-card">
    <div class="well well-sm">
      <div class="media">
        <a class="thumbnail pull-left" href="#">
          <img class="media-object" src="/img/avatar.svg" alt="Profile Default Photo" />
        </a>
        <div class="media-body">
          <h4 class="media-heading">Jill Doe</h4>
        <p><span class="label label-info">Daughter</span></p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="row">
  <legend class="col-sm-12">Address</legend>
</fieldset>