<script>

// Note for Tony (or developer) - this is just a script tag directly in the HTML for mock up purposes. When you implement this with real data, these controllers would be moved to your controller

angular.module('crossroads');

var ModalDemoCtrl = function ($scope, $modal, $log) {

  $scope.open = function (size) {

    var modalInstance = $modal.open({
      templateUrl: '/pages/mock-ups/modal_skill_remove.html',
      controller: ModalInstanceCtrl,
      size: size,
      resolve: {}
    });
  };
};

var ModalInstanceCtrl = function ($scope, $modalInstance) {
  $scope.ok = function () {
    $modalInstance.close();
  };
  $scope.cancel = function () {
    $modalInstance.dismiss('cancel');
  };
};
</script>

<div ng-controller="ModalDemoCtrl">
  <form role="form">
    <fieldset class="row">
      <legend class="col-sm-12">My Selected Skills</legend>
      <ul class="col-sm-12 current-skills-list list-inline">
        <li><a class="label label-info" ng-click="open()">Software Developer <span class="glyphicon glyphicon-trash"></span></a></li>
        <li><a class="label label-info" ng-click="open()">Web Design <span class="glyphicon glyphicon-trash"></span></a></li>
        <li><a class="label label-info" ng-click="open()">Web Development <span class="glyphicon glyphicon-trash"></span></a></li>
        <li><a class="label label-info" ng-click="open()">Photoshop wizard <span class="glyphicon glyphicon-trash"></span></a></li>
        <li><a class="label label-info" ng-click="open()">Administrative <span class="glyphicon glyphicon-trash"></span></a></li>
      </ul>
    </fieldset>

    <hr />
      
    <fieldset class="row">
      <div class="col-sm-12">
        <p>Select a category below and check off any super powers you may have.</p>
        
        <div class="row skill-group">
          <div class="form-group col-sm-6">
            <label for="provider">Category</label>
            <select class="form-control col-sm-12" name="skill-category" id="skill-category" ng-model="cat">
              <option value="">Select A Category</option>
              <option value="1">Communications</option>
              <option value="2">Creative</option>
            </select>
          </div> <!-- /.form-group col-sm-6 -->

          <div class="form-group col-sm-12" ng-show="cat=='1'">
            <label>Creative</label>
            <div class="cat-skill-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Artistic Painting
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Audio Engineering
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Brainstorming
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Camera Operator
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I Can Play (guitar, piano, etc)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I Can Sing (really...)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Photography
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Poetry / Creative Writing
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Production (audio / video)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Sculpture
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Video Editing
                </label>
              </div>
            </div> <!-- /.cat-skill-group -->
          </div> <!-- /.form-group.col-sm-12 -->

          <div class="form-group col-sm-12" ng-show="cat=='2'">
            <label>Communication</label>
            <div class="cat-skill-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Animation/Motion Graphics
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Copy Editor
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Excel wizard
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Graphic Design (print)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> iPhoto/iMovie wizard
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Photoshop wizard
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Social media wizard
                </label>
              </div>
            </div> <!-- /.cat-skill-group -->
          </div> <!-- /.form-group.col-sm-12 -->

        </div> <!-- /.row.skill-group -->
      </div> <!--/.col-sm-12 -->
    </fieldset>

    <button class="btn btn-primary ladda-button" data-style="expand-left"><span class="ladda-label">Add More Skills &nbsp;<span class="glyphicon glyphicon-plus-sign"></span></button>
    <button class="btn btn-primary ladda-button" data-style="expand-left"><span class="ladda-label">Save</span></button>

  </form>
</div>