@import '../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'variable-overrides';
@import 'overrides';
@import 'brandbar';

a:hover {
  text-decoration:none;
}
.navbar{
	z-index: 100;
}

.logo {
	font-size: 25px;
	font-weight: 100;
	margin-top: -2px;
}

.logo img {
	max-width: 140px;
	margin-top: -6px;
}

footer {
	background-color: $gray-lighter;
	padding: 25px 0;
  margin-top: 40px;
}

.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.posts li {list-style:none;}


/***************************************************************************************
* Dashboard Elements - used on /dashboard.html
***************************************************************************************/
.status-block {padding: 30px 0; color:$gray-lighter;}
.status-blocks h2 {font-size: $font-size-h2+30px;}
.documents, .documents ul {list-style: none;}
#myTabDrop1 {margin-top: 17px;}


/* RIGHT SIDE BAR */
#rt_block_wrapper {
    float: right;
    margin-top: 25px;
    width: 302px;
}
.rt_block {
    background: url("/img/bg_rt_grad1.png") repeat-x scroll center top #F6F7F7;
    border: 1px solid #CFCDCD;
    font-family: Arial;
    overflow: visible;
    padding: 0 15px 10px;
    position: relative;
    width: 270px;
    z-index: 2;
}

.rt_block_spacer {
    margin-bottom: 1em;
}
/* RIGHT SIDE BAR */

/* footer section */
.homeContainer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: block;
    z-index: 2;
}
.footerdimnoborder {
    color: #747474;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.footerdimnoborder h4 {
font-size:12px;
font-weight:bold;
margin-top:0px;
}
.noPspace {
    margin: 0;
    padding: 0;
}
.imgChWorld {
float:left;
font-size: 11px;
line-height: 20px;
padding-right:10px;
}
.footerdim {
    border-left: 1px solid #B8B8B8;
    color: #747474;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.footerdim h4 {
font-size:12px;
font-weight:bold;
margin-top:0px;
}
#footer-contact {
    color: #747474;
    font-size: 11px;
}
footer {
background-color: #E2E2E2;
    color: #000000;
    display: block;
    font: 12px/20px Helvetica,Arial,Geneva,sans-serif;
    padding-top: 0;
}

footer #footer-social, footer #footer-social {
    margin: 25px 0 0;
}
footer #footer-social a, footer #footer-social a {
    background-image: url("/clientside/images/social-icons.png");
    display: inline-block;
    height: 31px;
    width: 31px;
}
footer #footer-social a:hover, footer #footer-social a:hover {
    text-decoration:none;
}
#footer-facebook {
    background-position: 0 -36px;
}
#footer-twitter {
    background-position: 0 -180px;
    margin: 0 10px;
}
#footer-email {
    background-position: 0 -108px;
}
#footer-facebook:hover {
background-position: 0 0;
}
#footer-twitter:hover {
background-position: 0 -144px;
}
#footer-email:hover {
background-position: 0 -72px;
}
/* footer section */
