<h3 class="right_column_header">Blog Tags</h3>
<ul class="list-unstyled">
<!-- Aravind Try to get rid of this annoying if else conditions by finding a plugin for that -->
<!--  This is just a quick solution to achieve this  -->
    {% for tags in site.tags %}
        {% assign tags = tags | first %}
        {% if tags contains 'india' %}
        <li><a class="link--orange" href="/tags/india">India</a></li>
        {% elsif tags contains 'fields-of-gold' %}
        <li><a class="link--orange" href="/tags/fields-of-gold">Fields of Gold</a></li>
        {% elsif tags contains 'crossroads'  %}
        <li><a class="link--orange" href="/tags/crossroads">Crossroads</a></li>
        {% elsif tags contains 'game-change' %}
        <li><a class="link--orange" href="/tags/game-change">Game Change</a></li>
        {% elsif tags contains 'crux' %}
        <li><a class="link--orange" href="/tags/crux">Crux</a></li>
        {% elsif tags contains 'go-nola' %}
        <li><a class="link--orange" href="/tags/go-nola">Go Nola</a></li>
        {% elsif tags contains 'discipleship' %}
        <li><a class="link--orange" href="/tags/discipleship">Discipleship</a></li>
        {% elsif tags contains 'citylink' %}
        <li><a class="link--orange" href="/tags/citylink">CityLink</a></li>
        {% elsif tags contains 'multi-site' %}
        <li><a class="link--orange" href="/tags/multi-site">Multi-site</a></li>
        {% elsif tags contains 'south-africa' %}
        <li><a class="link--orange" href="/tags/south-africa">South Africa</a></li>
        {% endif %}
    {% endfor %}
</ul>