<ul class="posts">
  {% for post in site.tags[tag]  %}
    {% unless post.categories contains "thefeed" %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p><span class="category_title">{{ tag }}</span><span class="greater_than"> &#62;</span><span class="posted_by_label">Posted by</span> <a class="author_link">Author</a><span class="post_date">{{ post.date | date_to_string }}</span></p>
        <p>{{ post.content }}</p>
        <div>
          {% if post.image contains '.' %}
          <img class="img-responsive" src="{{ post.image }}" width="{{ post.image-width }}" height="{{ post.image-height }}" />
          {% endif %}
        </div>
        <div>
          {% if post.video contains 'mp4' %}
          <video width="{{ post.video-width }}" height="{{ post.video-height}}" controls poster="{{ post.video-image }}">
            <source src="{{ post.video }}" type="video/mp4">
          </video>
          <p><span class="message-date">{{ post.date }}</span></p>
          {% endif %}
        </div>
        <div>
          {% if post.audio contains 'mp3' %}
          <audio controls>
            <source src="{{ post.audio }}" type="audio/mpeg">
          </audio>
          <p><span class="message-date">{{ post.date }}</span></p>
          {% endif %}
        </div>
        <span class="comment">Post a comment</span>
        <div class="social_media_buttons addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5391d6a6145291c4"></script></p>
</li>
    {% endunless %}
  {% endfor %}
</ul>
