<ul class="posts">
  {% for post in site.tags[tag]  %}
    {% unless post.categories contains "thefeed" %}
      <li class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p><span class="category_title"><em><a href="/tags/{{tag}}" class="category-link" >{{ tag }}</a></em></span><span class="greater_than"> &#62;</span><span class="posted_by_label">Posted by</span> <a class="author_link">Author</a><span class="post_date"> {{ post.date | date_to_string | date: "%b %d, %Y" }}</span></p>
        <p>{{ post.content }}</p>
        <div>
          {% if post.image contains '.' %}
          <img class="img-responsive" src="{{ post.image }}" width="{{ post.image-width }}" height="{{ post.image-height }}" />
          {% endif %}
        </div>
        <div>
          {% if post.video contains 'mp4' %}
          <video width="{{ post.video-width }}" height="{{ post.video-height}}" controls poster="{{ post.video-image }}">
            <source src="{{ post.video }}" type="video/mp4">
          </video>
          <p><span class="message-date">{{ post.date }}</span></p>
          {% endif %}
        </div>
        <div>
          {% if post.audio contains 'mp3' %}
          <audio controls>
            <source src="{{ post.audio }}" type="audio/mpeg">
          </audio>
          <p><span class="message-date">{{ post.date }}</span></p>
          {% endif %}
        </div>
        <a href="{{ post.url }}#disqus_thread">0 Comments</a> <svg viewBox="0 0 32 32" class="icon icon-bubble"><use xlink:href="#bubble"></use></svg>

        {% include addthis.html %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
