<nav class="top-bar">
  <div class="row">
    <div class="col-xs-12">
      <a class="top-bar__logo">
      <a class="top-bar__expand">
        <i class="icon--hamburger">
          <span class="line--horizontal"></span>
          <span class="line--horizontal"></span>
          <span class="line--horizontal"></span>
        </i>
      </a>
      <ul class="top-bar__nav visible-md visible-lg">
        <li id="myhome" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>My Crossroads</span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dashboard</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Giving History</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Groups</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Engage</span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Get Involved</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Connect</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Corkboard</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reachout</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Grow</span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Essentials of Growth</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscribe to the Daily</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Get in Community</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Baptism</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lead Your Family</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>About</span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Explore Crossroads</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Who We Are</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Blog</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Locations</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Service Times and Directions
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pastoral Care</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact Us</a></li>
            </a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Give</span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Recurring Gift</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">One-time Gift</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transfer Stock</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Estate Giving</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Give to Others</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Financial Philosophy</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Media</span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Weekend Service</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Videos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transfer Stock</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Music</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Podcast</a></li>
          </ul>
        <li>
          <a><span>Admin</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>