<nav class="top-bar container">
  <div class="row">
    <div class="col-xs-12">
      <a class="top-bar__logo">
      <a class="top-bar__expand">
        <i class="icon--hamburger">
          <span class="divne--horizontal"></span>
          <span class="divne--horizontal"></span>
          <span class="divne--horizontal"></span>
        </i>
      </a>
      <div class="top-bar__nav visible-md visible-lg">
        <div id="myhome" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>My Crossroads</span></a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div class="login col-md-6">
              <div class="dd_menu">
                <div class="primary">
                  <h3>Login</h3>
                  <form id="nav_login" role="form" method="post" action="https://www.crossroads.net/index.php">
                    <div class="form-group">
                      <input class="form-control" type="hidden" name="action" value="viewpage">
                      <input class="form-control" type="hidden" name="filepath" value="site/actLogin.php">
                      <div class="input-group">
                        <input class="form-control" type="text" name="userName" id="username_nav" placeholder="Username">
                        <span class="input-group-addon"><a href="/recoverPassword/emailUsername.php">@</a></span>
                      </div>
                      <div class="input-group">
                        <input class="form-control" autocomplete="off" type="password" name="password" id="password_nav" placeholder="Password">
                        <span class="input-group-addon"> <a href="/recoverPassword/emailPassword.php">@</a></span>
                      </div>
                      <input type="submit" name="submit_nav" value="Login" id="submit_nav" class="col-md-12 btn submit">
                      <div style="font-size: smaller;">
                        <input type="checkbox" name="remember" id="remember_nav">
                        <label for="remember">Stay Logged In</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div>
              <div class="links">
                <div role="menuitem" tabindex="-1" href="#">Dashboard</div>
                <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></div>
                <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Giving History</a></div>
                <div role="presentation"><a role="menuitem" tabindex="-1" href="#">My Groups</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Engage</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Get Involved</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Connect</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Corkboard</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Reachout</a></div>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Grow</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Essentials of Growth</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscribe to the Daily</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Get in Community</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Baptism</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Lead Your Family</a></div>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">About</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Explore Crossroads</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Who We Are</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Blog</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Locations</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Service Times and Directions
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Pastoral Care</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact Us</a></div>
            </a></div>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Give</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Recurring Gift</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">One-time Gift</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Transfer Stock</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Estate Giving</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Give to Others</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Financial Philosophy</a>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Weekend Service</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Videos</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Transfer Stock</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Music</a></div>
            <div role="presentation"><a role="menuitem" tabindex="-1" href="#">Podcast</a></div>
          </div>
        <div class="dropdown">
          <a href="#">Admin</a>
        </div>
      </div>
    </div>
  </div>
</nav>