<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header col-xs-10">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/"><img src="/img/logo.svg" alt="crossroads" /></a>
        </div>
        <div class="navbar-collapse collapse col-xs-10">
          <ul class="nav navbar-nav visible-xs visible-sm">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Engage</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Get Involved</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Connect</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Corkboard</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reachout</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Grow</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Essentials of Growth</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscribe to the Daily</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Get in Community</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Baptism</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lead Your Family</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">About</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Explore Crossroads</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Who We Are</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Blog</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Locations</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Service Times and Directions
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pastoral Care</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact Us</a></li>
                </a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Give</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Recurring Gift</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">One-time Gift</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transfer Stock</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Estate Giving</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Give to Others</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Financial Philosophy</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Weekend Service</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Videos</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Transfer Stock</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Music</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Podcast</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Admin</a>
            </li>
          </ul>
          <!-- Right menu's cause an issue with the fork us badge
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Right</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>
