---
layout: one_column
title: Media
published: true
permalink: /media/
---

<h1>MEDIA</h1>
<p class="text-muted">We got videos, music, messages, and more...o yeah.</p>

<br>

<h2>MESSAGE SERIES</h2>
{% include series.html %}
<div class="row">
  <ul class="media-list">
    {% assign sorted_series = site.series | sort:'startDate','first' %}
    {% for series in sorted_series reversed limit: 2 %}
    <li class="col-sm-2 col-xs-6">
      <a href="{{ series.permalink }}">
        <img src="{{ series.src }}" class="img-responsive" />
        <h4>{{ series.title }}</h4>
        <p class="text-muted">{{ series.startDate | date: "%m.%d.%Y" }}</p>
        </a>
    </li>  
    {% if forloop.index == 6 %}
    <div class="clearfix visible-sm visible-md visible-lg"></div>
    {% elsif forloop.index == 2 %}
    <div class="clearfix visible-xs"></div>
    {% endif %}
    {% endfor %}

  </ul>
</div>
<div class="row">
  <a href="#" class="btn btn-default pull-right">View All Series</a>
</div>
<br>
<br>
<hr>
<br>
<br>

<h2>MUSIC</h2>
<div class="row">
  <ul class="media-list">
  {% assign sorted_music = site.music | sort:'date','first' %}
    {% for music in sorted_music reversed limit: 6 %}
    <li class="col-sm-2 col-xs-6">
      <a href="{{ music.permalink }}">
        <img src="{{ music.src }}" class="img-responsive" />
        <h4>{{ music.title }}</h4>
        <p class="text-muted">{{ music.date | date: "%m.%d.%Y" }}</p>
        </a>
    </li> 
    {% if forloop.index == 6 %}
    <div class="clearfix visible-sm visible-md visible-lg"></div>
    {% elsif forloop.index == 2 %}
    <div class="clearfix visible-xs"></div>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="row">
  <a href="#" class="btn btn-default pull-right">View All Music</a>
</div>


<br>
<br>
<hr>
<br>
<br>

<h2>VIDEO</h2>
<div class="row">
  <ul class="media-list">
  {% assign sorted_media = site.media | sort:'date','first' %}
    {% for media in sorted_media reversed limit: 6 %}
    <li class="col-sm-2 col-xs-6">
      <a href="{{ media.permalink }}">
        <img src="{{ media.src }}" class="img-responsive" />
        <h4>{{ media.title }}</h4>
        <p class="text-muted">{{ media.date | date: "%m.%d.%Y" }}</p>
        </a>
    </li> 
    {% if forloop.index == 6 %}
    <div class="clearfix visible-sm visible-md visible-lg"></div>
    {% elsif forloop.index == 2 %}
    <div class="clearfix visible-xs"></div>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="row">
  <a href="#" class="btn btn-default pull-right">View All Videos</a>
</div>


<br>
<br>

