---
layout: right_column
title: Blog
published: true
permalink: blog
categories:
---


<div class="blog_path_headline">
  <a href="#" class="blog_headline">Blog</a> &#62; &#62;<a href="#" class="category_headline">Crossroads</a> &#62; <a href="#" class="current">All Blog Posts</a>
</div>

{% include media/message_preview.html %}

  <ul class="posts">
    {% for post in site.tags["Crossroads"] %}
      {% unless post.categories contains "thefeed" %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p><span class="category_title">Crossroads</span> &#62; <span class="posted_by_label">Posted by</span> <a class="author_link">Author</a> <span class="post_date">{{ post.date | date_to_string }}</span></p>
        <p>{{ post.content }}</p>
        <p><span class="comment">Post a comment</span><span class="pluginButtonLabel">Like</span><span class="pluginButtonLabel">Share</span></p>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
