---
layout: right_column
title: The Feed
published: true
permalink: thefeed
categories:
---

<h1> The Feed </h1>

<div id="container--feed">
  {% for post in site.posts %}
  {% if post.categories contains 'thefeed' %}
    {{ post.content }}
  {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  $('document').ready(function() {
    var container = document.querySelector('#container--feed');
    var msnry = new Masonry( container, {
      columnWidth: 200,
      itemSelector: '.item'
    });
  });
</script>
