<div class="billboard panel-default">
  <h3 class="billboard-label">Give</h3>
  <h2 class="billboard-headline type-color--secondary">Donate</h2>
  <form class="form-inline" role="form">
    <h4 class="billboard-subheadline ">Find trip participant</h4>
    <p>Search by last name or email</p>
    <input type="text" class="billboard-input--inline form-control" id="participant">
    <button type="submit" class="btn btn-primary">Go</button>
  </form>
  <hr class="divider--dark" />
  <p>Give to a specific trip general fund</p>
  <select class="form-control">
    <option selected="selected">Choose a trip and date</option>
	  <option value="volvo">Volvo</option>
	  <option value="saab">Saab</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
	</select>
</div>
