<div class="series--container">
  <h3 class="right_column_header">Previous Series</h3>
  <carousel>
    <slide>
      <img src="https://crossroads-media.s3.amazonaws.com/images/HowToChangeWorld_190x110.jpg" class="img-responsive">
      <img src="http://placekitten.com/190/110" class="img-responsive">
      <div class="carousel-caption">
        <h4>Slide 1</h4>
        <p>ashdfkjahsdf</p>
      </div>
    </slide>
    <slide>
      <img src="http://placekitten.com/190/110" class="img-responsive">
      <img src="http://placekitten.com/190/110" class="img-responsive">
      <div class="carousel-caption">
        <h4>Slide 1</h4>
        <p>ashdfkjahsdf</p>
      </div>
    </slide>
    <slide>
      <img src="http://placekitten.com/190/110" class="img-responsive">
      <img src="http://placekitten.com/190/110" class="img-responsive">
      <div class="carousel-caption">
        <h4>Slide 1</h4>
        <p>ashdfkjahsdf</p>
      </div>
    </slide>
  </carousel>
</div>
