<div class="panel panel-default">
  <span class="panel-label">Serve</span>
  <div class="panel-headline">
    Sign up<br />to Serve
  </div>
  <label class="dropdown-label">
	  <select class="dropdown">
	  	<option selected="selected">Choose Team</option>
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		</select>
	</label>
  <span>
    Need Help? Here's a short video on <a class="help__link" href="#">how to sign up to serve</a>
  </span>
</div>