<div class="panel panel-default">
  <span class="panel-label">Go</span>
  <div class="panel-headline">
    Sign Up
  </div>
  <form class="form-inline" role="form">
    <label class="dropdown-label">
    <select class="dropdown">
      <option selected="selected">Choose a trip and date</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </label>
    <button type="submit" class="btn btn-default ad-btn">Get Started</button>
  </form>
</div>