
<div class="panel panel-default">
  <span class="panel-label">SPOTLIGHT</span>
  <h5 class="ad_header">Meet Karen</h5>
  <p class="ad__content__wide">"Preschoolers are the greatest. They're so enthusiastic about the message of God's love."</p>
  <button type="submit" class="btn btn-default ad-btn">Get Involved</button>
  <br />
  <a class="link--orange" href="#">Serve in Kids' Club</a>
  <img src="http://crossroads-media.s3.amazonaws.com/images/spotlight_karen.gif" class="ad__image__karen" />
</div>